[submodule "deps/wasmtime"]
	path = deps/wasmtime
	url = git@github.com:bytecodealliance/wasmtime
[submodule "deps/rust-protobuf"]
	path = deps/rust-protobuf
	url = git@github.com:stepancheg/rust-protobuf
[submodule "lang-support/go"]
	path = lang-support/go
	url = git@github.com:truls/cofaas-go.git
[submodule "interface-gen"]
	path = interface-gen
	url = git@github.com:truls/cofaas-idl-transform.git
[submodule "deps/wasm-tools"]
	path = deps/wasm-tools
	url = git@github.com:bytecodealliance/wasm-tools
