[submodule "deps/wasmtime"]
	path = deps/wasmtime
	url = git@github.com:bytecodealliance/wasmtime
[submodule "deps/rust-protobuf"]
	path = deps/rust-protobuf
	url = git@github.com:stepancheg/rust-protobuf
[submodule "lang-support/go"]
	path = lang-support/go
	url = git@github.com:truls/cofaas-go.git
